body {
  font-size: 18px;
  font-family: 'Georgia';
  font-style: italic;
}

li {
  float: left;
  list-style: none;
  padding: 8px 0 8px 2px
}

ul {
  float: left;
  border-bottom: 1px solid #000;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav li.primary > a {
  padding: 8px 20px;
  background: #cfcfcf;
  color: #000;
  height: 37px;
  border: 1px solid #cfcfcf;
  border-bottom: 0
}

.nav li.primary {
  position: relative;
}

.nav li.primary:hover {
  border-bottom: 0;
}

.nav li.primary:hover > a {
  background: #fff;
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
  color: #8c8c8c;
}

.nav li.primary:first-child {
  margin-left: 0;
  padding-left: 0
}

.sub-menu {
  position: absolute;
  left: 2px;
  top: 37.5px;
  background: #fff;
  width: 178px;
  border: 0;
  padding: 10px;
  border: 1px solid #6d6d6d;
  display: none;
}

.nav li.primary:hover .sub-menu {
  display: block;
}

.nav li.primary .sub-menu {
  top: 37px;
  z-index: -1;
}

.nav li.primary:first-child .sub-menu {
  left: 0;
}

.sub-menu a {
  color: #000;
  font-size: 14px;
  display: block;
  padding: 5px 0;
 }

.sub-menu a:hover {
  color: #bd0707;
} 

.sub-menu li {
  width: 100%;
  border-top: solid 1px #cfcfcf;
  padding: 0;
}

.sub-menu li:first-child {
  border-top: 0;
} 